#std-section {
  position: relative;
  width: 100vw;
  background-color: black;
  color: white;
}

#std-penengah {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate (-50%, -50%)
}



